boto3
einops
python-jose
sqlmodel
python-multipart
fastapi
uvicorn[standard]
python-dotenv
matplotlib
scikit-learn
scikit-image
opencv-python
yacs
joblib
natsort
h5py
tqdm
gdown
addict
future
lmdb
numpy
pyyaml
requests
scipy
tb-nightly
yapf
lpips
